.main-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  header{
    background-color: #008764;
    nav{
      width: 80%;
      min-height: 10vh;
      margin: auto;
      display: flex;
      justify-content: space-around;
      align-items: center; 
    }
  }
}
.title{
  color:white; 
  font-size: 2rem;
  width: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: .2s ease-in-out;
  text-decoration: none;
}
.title:hover{
  color: #F18A00; 
  transition: .2s ease-in-out;
}

.nav-links{
width: 50%;
list-style-type: none;
display: flex;
justify-content: flex-end;

.fas{
  font-size: 2rem;
  color: white;
  margin-right: 1rem;
}
li{
  margin-left: 1rem;
  a{
    color: white;
    text-decoration: none; 
    margin-left: 1rem;
    transition: .2s ease-in-out;
  }
  a:hover{
    
  color: #F18A00; 
    transition: .2s ease-in-out;
  }
  span{
    
  font-size: 1.7rem;
  }
}
}
.main-section{
  min-height: 90vh;
  width: 80%;
  margin: auto;
}
.home-screen{
  min-height: 90vh;
  display:flex;
  justify-content: center;
 align-items: center;
}
.pizza-options{
      height: 30rem;
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .pizza{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .2s ease-in-out;
        h1{
          font-size: 2rem;
          cursor: default;
        }
        img{
          width: 100%;
          height: 90%;
          object-fit: cover;
          border-radius: 1rem;
          cursor: pointer;
        }
        .meat{
          color: brown;
        }
        .veggie{
          color:green;
        }
        .qty{
          width: 30%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          span{
            font-size: 2rem;
          }
        }
      }
      .pizza:hover{
        width: 42%;
        transition: .2s ease-in-out;
      }
      
}
.cart-section{
  min-height: 90vh;
  width: 80%;
  margin: auto;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-items{
  width: 70%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cart-item{
  width: 80%;
  height: 23vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem .8rem;
  border: .05rem solid black;
  border-radius: 1rem;
}
.image-container{
  width: 40%;
  height: 20vh;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}
.item-details{
  width: 60%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
.description{
  text-align: center;
  padding: 0 .8rem;
}
.qty{
  width: 20%;
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  button{
    padding: .1rem .5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(14, 95, 105);
    color: white;
    border: none;
    cursor: pointer;
  }
}
}
.cart-checkout{
  width: 30%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.total{
   width:90%;
  height: 40vh;
  border: .1rem solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 5rem;
  padding: 2rem 0;
  button{
    padding: .7rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: rgb(14, 95, 105);
    color: white;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
  }
  button:hover{
    background-color: rgb(16, 116, 129);
    transition: .2s ease-in-out;
  }
}
.history-screen{
  min-height: 90vh;
  width: 100%;
  display: grid;
  gap:1rem;
  grid-auto-rows: 0rem;
  grid-template-columns: repeat(auto-fill, minmax(  25rem, 1fr));
  padding: 2rem 0;
  h1{
    font-size: 2rem;
    font-weight: bold;
  }
}
.order{
  width: 100%;
  min-height: 17vh;
  padding: 1rem ;
  border: .1rem solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-items{
  width: 100%;
  min-height: 10vh;
  h1{
    font-size: 2rem;
  }
  .order-item{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 792px){
  .pizza-options{
    height: 75vh;
    width: 90%;
    flex-direction: column;
    .pizza{
      height: 40%;
      width: 98%;
    }
    .pizza:hover{
      width: 100%;
    }
  }
  .description{
    font-size: .5rem;
  }
  .cart-section{
    flex-direction: column;
    width: 70vw;
    padding: 1rem 0;
  }
  .cart-checkout{
    width: 100%;
    height: 30vh;
  }
  .total{
    height: 25vh;
    font-size: 5rem;
  }
  .cart-items{
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .cart-item{
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .image-container{
    width: 100%;
    height: 20vh;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .item-details{
    width: 100%;
    
    .description{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .qty{
    width: 40%;
    button{
      padding: .5rem 1rem;
      font-size: 1.5rem;
    }
    span{
      font-size: 2rem;
    }
  }
  }
  .nav-links{
    .fas{
      font-size: 1.8rem;
    }
    span{
      display: none;
    }
  }
 .history-screen{
   display: flex;
   flex-direction: column;
 }
}
